nav.navbar {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}